.mainAnswerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#questionTitle {
  width: 53%;
}

.eachAnswer {
  width: 50%;
  background-color: white;
  margin-bottom: 20px;
  border: 0.5px solid rgba(219,217,217,.6);
  padding: 20px;
  box-shadow: 0.25px 0.25px 0.25px 0.25px hsl(0deg 0% 75% / 20%);
}

#questionAnswerer {
  font-weight: 600;
}
