.answerButton {
  display: flex;
  width: 50%;
  align-items: center;
  cursor: pointer;
}

.answerPencilIcon {
  color: blue;
}


.addAnswerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  margin-bottom: 30px;
}

.inputField {
  margin: 10px;
}

.inputField:hover {
  border: blue;
  border-style: solid;
  border-radius: 1px;
}
