.answerButton {
  display: flex;
  width: 52%;
  align-items: center;
  cursor: pointer;
}

.answerPencilIcon {
  color: rgb(46, 105, 255);
}


.addAnswerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.addAnswerTextArea {
  width: 53%;
  min-height: 250px;
  margin-bottom: 20px;
}


.addAnswerRow {
  width: 53%;
  display: flex;
  justify-content: flex-end;
}

#addAnswerButton {
  border-radius: 20px;
  background-color: #2e69ff;
  font-size: 10pt;
  font-weight: 600;
  height: 2.2rem;
  width: 7.2rem;
  color: #fff;
  border: none;
  cursor: pointer;
}
