.questionTitle {
  font-weight: bold;
}

.singleQuestionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
}

.answerButton {
  color: grey;
  cursor: pointer;
  font-size: large;
  padding: 5px 5px;
}

.editAndDelete {
  display: flex;
  justify-content: flex-end;
}
