/* .Button {
  font-size: 20px;
  opacity: 0.6;
}

#addQuestion {
  transition-duration: 0.4s;
  background-color: #b92b27;
  height: 30px;
  min-width: 30px;
  position: relative;
  border-width: 0px;
  color: white;
  border-radius: 10px;
}

#addQuestion:hover {
  background-color: #b92b27; /* Green */
  /* color: white;
}

.nav-container {
  background-color: gainsboro;
}

#DuoguoraImage {
  height: 100px;
  width: 100px;
} */


/* .Header_left {
  display: flex;
  align-items: center;
}

.left_logo {
  width: 60%;
}

/* .left_logoImage{
  width: 100%;
} */

/* .left_home,
.left_answers {
  display: flex;
  align-items: center;
} */

/* .left_answers {
  margin-left: 0.6em;
}

.Header_center {
  display: flex;
  align-items: center;
  margin-right: 25%;
  border: 1px solid lightgray;
}

.Header_center:hover {
  border: 1px solid blue;
} */

/* .center_inputField {
  border: none;
}

.Header_right {
  display: flex;
  align-items: center;
}

.right_user,
.right_btn {
  margin-right: 1em;
} */

.Header {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1px;
  background-color: white;
  width: 100%;

  position: sticky;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}

.left_logoImage{
  width: 70px;
  margin-right: 20px;
}

.left_icons {
  display: flex;
  margin-right: 20px;
}

.left_icons > .left_icon {
  color: grey;
  cursor: pointer;
  font-size: large;
  padding: 5px 20px;
}

.left_icons > .left_icon:hover {
  color: #8f1f1b;
  border-radius: 10px;
  background-color: lightgray;
}

.mid_search {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
}

.center_inputField {
  border: none;
  outline: none;
  background-color: transparent;
}

.right_header{
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.profileButton{
  color: grey;
  cursor: pointer;
  font-size: large;
}
