/* .Button {
  font-size: 20px;
  opacity: 0.6;
}

#addQuestion {
  transition-duration: 0.4s;
  background-color: #b92b27;
  height: 30px;
  min-width: 30px;
  position: relative;
  border-width: 0px;
  color: white;
  border-radius: 10px;
}

#addQuestion:hover {
  background-color: #b92b27; /* Green */
  /* color: white;
}

.nav-container {
  background-color: gainsboro;
}

#DuoguoraImage {
  height: 100px;
  width: 100px;
} */
/* 
.Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -50px;
} */

/* .Header_left {
  display: flex;
  align-items: center;
}

.left_logo {
  width: 60%;
}

.left_logoImage{
  width: 100%;
} */

/* .left_home,
.left_answers {
  display: flex;
  align-items: center;
} */

/* .left_answers {
  margin-left: 0.6em;
}

.Header_center {
  display: flex;
  align-items: center;
  margin-right: 25%;
  border: 1px solid lightgray;
}

.Header_center:hover {
  border: 1px solid blue;
} */

/* .center_inputField {
  border: none;
}

.Header_right {
  display: flex;
  align-items: center;
}

.right_user,
.right_btn {
  margin-right: 1em;
} */
