.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  background-color: white;
}

input {
  height: 21px;
  width: 284px;
  margin: 10px;
}

.login_button {
  background-color: #2e69ff;
  transition-duration: 0.4s;
  height: 30px;
  min-width: 30px;
  position: relative;
  border-width: 0px;
  color: white;
  border-radius: 10px;
  padding: 0px 20px;
}

.title_form_container {
  background-color: white;
  height: 70vh;
}

.login_container{
  height: 100vh;
  background: url("http://qsfs.fs.quoracdn.net/-4-images.home.illo_1920.png-26-e9e6fbe02d908942.png");
}

.loginButtons {
  display: flex;
  justify-content: space-between;
}

.demo_user {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.demo_user:hover {
  background-color: lightgray;
  border-radius: 10px;
  transition-duration: 0.4s;
  height: 30px;
  min-width: 30px;
  position: relative;
  border-width: 0px;
  /* padding: 0px 10px; */
}

.footer {
  padding-top: 10px;
  display: flex;
  /* align-items: center;
  justify-content: space-evenly; */
}
