.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background: url("http://qsfs.fs.quoracdn.net/-4-images.home.illo_1920.png-26-e9e6fbe02d908942.png"); */
  background-image: url("https://dogram.s3.us-east-2.amazonaws.com/cartoon_1920x1080.jpg");
  background-position: center center;
  background-size: cover;
}


.login_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: snow;
}

@media screen and (max-width: 500px) {
  .login_container {
    width: 100%;
  }
}

.top_login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  font-size: 38pt;
  /* margin-top: 10px; */
  color: #b92b27;
  font-weight: bolder;
  margin: 3% 0 0 0;
  text-decoration: none;
}

#description {
  font-size: 15px;
  font-weight: 700;
  color: #789;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  margin-left: 20%;
}

.loginField {
  margin-bottom: 5%;
}

#login_Email, #login_Password {
  width: 80%;
  height: 50%;
}


.loginButtons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.login_demo_button {
  background-color: #2e69ff;
  min-width: 30px;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  height: 2.2rem;
  width: 7rem;
}

#demo_button {
  margin-left: 20px;
}
